@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>テストサイト</h1>
    <p class="lead">テストサイトです。</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>具体的なメニュー</h2>
        <p>
            具体的なメニューの説明です。
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>